@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-container {
  display: flex;
  animation: scroll-left 30s linear infinite; /* Adjust speed */
}

.scroll-container img {
  width: 200px; /* Adjust size of images */
  height: 200px; /* Adjust height of images */
  object-fit: contain;
  margin-right: 16px; /* Adjust space between images */
}
